@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #efefef;
}
a{
   color: #2196f3;
}
.top-header{
    display: flex;
    width: 90%;
    margin: auto;
}
.logo-section{
    padding: 30px 0;
    flex-basis: 50%;
    margin:auto;
}
.logo-section a{
    text-decoration: none;
    color: black;
}
.navicon-box{
    flex-basis: 50%;
}
.navicon-box button{
    float: right;
    padding: 10px;
    border:none;
    border-radius: none;
    color: whitesmoke;
    background-color: rgb(11, 11, 12) ;
    margin-top: 40px;
    margin-right: 20px;
    display: none;
}
.header{
    background-color: #ffffff;
}

/***************************************************
                  Nav Bar style
****************************************************/
.menu-header-menu-container{
    background-color: rgb(16, 16, 17);
}
.menu{
    background-color: rgb(16, 16, 17);
    width: 90%;
    margin: auto;
    list-style: none;
    display: flex;
}
.menu li a{
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    color: rgb(255, 255, 254);
}
.menu li a:hover {
     background-color: rgb(54, 53, 53);
}
.sub-menu{
    display: none;
    list-style: none;
    width: max-content;
    position:absolute;
    background-color: rgb(16, 16, 17);
}
.sub-menu > li {
    position: relative;
}

.sub-menu > li ul{
    left: 100%;
    top:0;
}
.menu-item-has-children:hover > .sub-menu{
    display: block;
}
.current_page_item{
    background-color: indianred;
}
/***************************************************
                Main Content style
****************************************************/
.main{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container{
    flex-basis: 73%;
}
.post-box{
    margin: 20px 0;
    padding: 25px;
    background-color: #fff;
}

.sidebar{
    flex-basis: 25%;
}
/***************************************************
                    Post style
****************************************************/
.post-content{
    padding: 20px 0;
}
.blogpg{
    display: flex;
    justify-content: space-around;
}
.post-text{
    flex-basis: 60%;
    font-size: 1 em;
    font-weight: 300;
}
.post-text a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
}
.post-text h1{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 7px 0;
}
.post-text h2{
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0 7px 0;
}
.post-text > ul{
    margin-left: 40px;
}
.post-thumbnail{
    flex-basis: 25%;
}
.post-thumbnail > img{
    border-radius: 3px;
}
.post-content > img{
    width: 100%;
}
/***************************************************
        Post Meata data section style
****************************************************/

.meta-entries{
    display: flex;
    flex-direction: row;
    color: gray;
    margin:10px 0;
}
.meta-entries div{
    margin: 0 10px;
}
.meta-catagory{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.meta-catagory i{
    display: block;
    margin-top: 4px;
    margin-right: 5px;
}
.post-categories li{
    list-style: none;
}
.post-categories li a{
    text-decoration: none;
    color:dimgray;
}
/***************************************************
            Comments section style
****************************************************/
.comments-box{
    margin: 20px 0;
    padding: 25px;
    background-color: #fff;
}
.comments-box h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 10px 0;
}
.comment-body{
    position: relative;
    margin: 30px 0;

}
.comment-body p{
    top:30px;
    font-size: 13px;
    left: 85px;
}
.commentlist{
    list-style: none;
}
.comment-author img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.says{
    display: none;
}
.fn{
    position: absolute;
    left: 85px;
}
.fn a{
    text-decoration: none;
    font-style:normal;
    color: indianred;
    font-size: 16px;
    font-weight: 600;
}
.comment-meta{
    position: absolute;
    top:30px;
    left: 85px;
}
.comment-meta a{
    text-decoration: none;
    font-style:normal;
    color: indianred;
    font-size: 14px;
    font-weight: 300;
}
.reply a{
    text-decoration: none;
    color: indianred;
}
.children{
    list-style: none;
    margin-left: 40px;
}


/*=====================================
        Comment Form CSS
========================================*/

.comment-respond {
    margin-top: 50px;
}

.comment-notes {
    font-size: 90%;
    margin-bottom: 40px;
}

.comment-form label {
    display: block;
    margin-bottom: 10px;
}
.comment-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
#email, #url, #author{
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0;
    border:.3px solid rgb(32, 32, 32)
}
.form-submit > input{
    padding: 10px 15px;
    background-color: indianred;
    color: ivory;
    font-size: 16px;
    border: none;
}

.comment-form input[type=submit] {
    width: auto;
}
/* Side Bar widget section*/
.sidebar-widget-box{
    margin: 20px 0;
    background-color: #fff;
    height: 400px;
}

/* Footer section */
.copyright-box{
    padding: 15px;
    background-color: rgb(17, 16, 16);
    color:#fff;
}
/***************************************************
        Media Query for small divices style
****************************************************/

@media only screen and (max-width: 973px) {
   
    .main{
        width: 90vw;
        display: block;
        margin: auto;
    }
    #menu-header-menu{
       display: none;
    }
    .navicon-box button{
        float: right;
        padding: 10px;
        border:none;
        border-radius: none;
        margin-top: 40px;
        margin-right: 20px;
        display: block;
    }
    
/* Nav Css */

    .menu{
        background-color: rgb(16, 16, 17);
        width: 100%;
    }
    .menu li a{
        text-decoration: none;
        display: block;
        font-size: 14px;
        font-weight: 300;
        padding: 15px;
        color: rgb(255, 255, 254);
    }
    .menu li a:hover {
         background-color: rgb(54, 53, 53);
    }
    .sub-menu{
        display: none;
        list-style: none;
        width: 100%;
        margin-left: 10px;
        position:relative;
        background-color: rgb(16, 16, 17);
    }
    .sub-menu > li {
        position: relative;
    }
    .sub-menu > li ul{
        left:0;
        top:0;
    }
    .menu-item-has-children:hover > .sub-menu{
        display: block;
    }
    
}

